/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-theme";
@import "grayscale";

.temoignage-photo
{
	border-radius: 50%;
}

.dropdown
{
    
    display: none;
    background-color: #edfffa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    margin-top: -50px;
    margin-left: -600px;
    text-align: justify;
}

.dropdown-title 
{ 
text-align: center 
}

.photo:hover .dropdown
{
    display: block;
}

body
{
background: rgb(211,211,211);
background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);

}
nav-bar
{
	background-color: blue;
}
.btn-form
{
	align: center;
}
.container-image
{
	display: flex;
	justify-content: space-between;
}

.top-right
{
	padding-left: 30px;
	right: 0px;
}
.element-image
{
	
}
#form
{
	background-image: url(asset_path("test-coding.png"));
}